body {
  font-family: "Montserrat", sans-serif;
}
header {
  width: 100%;

  // example

  .nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;

    &__logo {
      font-style: 24px;
      cursor: pointer;
      align-items: center;
    }
    &__btn {
      display: inline-flex;
      padding: 18px 30px;
      align-items: flex-start;
      gap: 8px;
      border-radius: 100px;
      background: #299764;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
    &__btn:hover {
      display: inline-flex;
      padding: 18px 30px;
      align-items: flex-start;
      gap: 8px;
      border-radius: 100px;
      background: #077743;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }

    &__list {
      display: flex;
      gap: 50px;
      list-style-type: none;
      align-items: center;
      &--item {
        text-transform: uppercase;
        align-items: center;

        &-link {
          text-decoration: none;
          align-items: center;
          display: flex;
          color: #000;
          text-align: center;
          font-size: 18px;
          font-weight: 500;

          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
